code{white-space: pre;}
body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
    color: black;
    font-family: 'EB Garamond', "Times New Roman", serif;
    font-size: 100%;
    line-height: 140%;
    color: #111; 
    background-color: #FFFFF4;
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
    font-family: monospace;
    font-size: 14pt;
}
code {
    font-family: monospace;
    font-size: 14pt;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #333377; 
}
h1, h2, h3, h4, h5 { font-family: 'EB Garamond', "Times New Roman", serif;
                     font-weight: bold;
                     /*border-bottom: 1px dotted black;*/
                      }
h1 {
        font-size: 630%;
	line-height: 100%;
}

h2 {
    font-size: 210%;
    line-height: 100%;
    width: 100%;
    /*background-color: DarkSeaGreen;*/
    color: DarkTurquoise;
    margin: 10px;
}

h3 {
        font-size: 95%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

.quote {
    margin: 40px;
    width: 600px;
    font-size: 120%;
}

dt code {
        font-weight: bold;
}
p {
    margin: 20px;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }

.wrapper {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

.innerwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:100%;
}
/* https://www.w3schools.com/cssref/css_colors.php */
/* 137 */
.c11 { background-color: Crimson; } .c12 { background-color: DarkSeaGreen; } .c13 { background-color: Coral; }
/* 178 */
.c21 { background-color: LightBlue} .c22 { } .c23 {background-color: DarkTurquoise; }    
/* 179 */
.c31 { background-color: Crimson; } .c32 {background-color: DarkSeaGreen; } .c33 {background-color: Coral; }    
.c41 { background-color: LightBlue; } .c42 { } .c43 {background-color: DarkTurquoise; }
/* 196 */
.c51 { background-color: Crimson; } .c52 {background-color: DarkSeaGreen; } .c53                              {background-color: Coral; }    
