.abstract {
    margin: 50px;
    width: 600px;
}
.thin {
    margin-left: 60px;
    width: 800px;
    text-indent: 30px;
}
p {
    margin: 0px;
    line-height: 1.3;
}
.first {
    text-indent: 0px;    
}
h1, h2, h3 {
    text-indent: 0px;
}
